states/

FSS_quench_HO-negHO/
FSS_quench_HO-neg_quartic/
FSS_quench_HO-neg_octic/
alpha=3.82_quench_HO-neg_quartic/

OG RK4/
no potential/
HO-HO-quench/
RESTRICT V/
RK4_quench_HO-neg-quartic/

imagggg/
old/
tests_robustness/
complex_integration.py


# reformulate this later
GPE/