states/
betas/
alphas/
neg_x4_potential.nb
restricted_V_test.py
variance/

HO-neg_HO/
FSS_quench_HO-neg_quartic/
FSS_quench_HO-neg_octic/
alpha=3.82_quench_HO-neg_quartic/
FSS_no_potential/

OG RK4/
no potential/
HO-HO-quench/
RESTRICT V/
RK4_quench_HO-neg-quartic/

imagggg/
old/
tests_robustness/
complex_integration.py

x=35/
x=45/
x=65/
restricted_V_α=4/
test/
test2/
comparing variance for dx/

# reformulate this later
GPE/